@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.contenedor-detalle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.contenedor-img {
    width: 45vw;
    height: 60vh;
}

.detalle-imagen {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detalle-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;
}

.info-titulo {
    font-family: 'Amatic SC', cursive;
    font-size: 2.6rem;
}

.info-cat-descrip {
    font-size: 1.2rem;
    color: #555;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
}

.info-precio {
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: bold;
}


.detalle-comprar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.btn-comprar {
    background-color: #0b5002bd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-comprar:hover {
    background-color: #0a3d01;
}