.contador-cart {
    background-color: rgb(2, 59, 2);
    color: white;
    border-radius: 100%;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.carrito-svg{
    width: 30px;
    height: 30px;
}