@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.nav-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1.5px solid black;
    padding: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.nav-contenedor h2{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.nav-links{
    display: flex;
    align-items: center;

}

.nav-titulo {
    text-decoration: none;
    color: black;
}

@media(max-width: 500px) {
    .nav-links{
        flex-direction: column;
    }
}