@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.footer {
    background-color: #ffffff;
    border-top: 1.5px solid black;
    font-family: 'Kedebideri' ;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    bottom: 0;
}