@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 30vw;
    height: 40vh;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card-nombre{
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-weight: bold;
}

.boton-agregarCarrito{
    background-color: rgb(3, 31, 0);
    color: white;
    font-family: Kedebideri;
    width: 100%;
    padding: .8rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.boton-agregarCarrito:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    font-weight: bold;
}