@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.itemListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.botones-categorias {
    display: 'flex';
    justify-content: 'center';
    gap: '20px';
    margin: '20px';
}

.botones-categorias {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px;
    width: 70vw;
}

.boton-filtro {
    display: flex;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: .8rem;
    font-family: 'Kedebideri', sans-serif;
    cursor: pointer;
    width: fit-content;
    justify-content: center;
}

.boton-filtro:hover {
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    transition: all 0.3s ease-in-out;
}
.boton-filtro:focus {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

.txt-central {
    text-align: center;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}