@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.item-list {
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

@media(max-width: 500px) {
    .item-list {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}

