@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.txt-central {
    text-align: center;
    margin-top: 1rem;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}